# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak
venv.bak

# Flask
instance/
.webassets-cache

# Docker
.dockerignore

# OS
.DS_Store
Thumbs.db

# Project Specific
Archive(1).zip
*.zip
*.tar.gz
