<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>USER: JARIN CANAR // PROFILE</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

    <div class="crt-overlay"></div>

    <div class="container profile-container">
        <nav class="top-nav">
            <a href="/" class="back-link">&lt; // RETURN TO MAIN_MENU</a>
        </nav>

        <div class="profile-grid">
            <div class="profile-sidebar">
                <div class="profile-pic-box">
                  <img src="{{ url_for('static', filename='images/profile.jpg') }}" alt="Jarin Canar" class="profile-img">
                  <span class="scan-line"></span>
                </div>
                
                <div class="stats-box">
                    <h3>// STATS</h3>
                    <ul>
                        <li><span class="label">CLASS:</span> DEV / STUDENT</li>
                        <li><span class="label">LOC:</span> PROVO, UTAH, USA</li>
                        <li><span class="label">EXP:</span> 5 YEARS</li>
                        <li><span class="label">STATUS:</span> ACTIVE</li>
                    </ul>
                </div>
            </div>

            <div class="profile-main">
                <h1 class="glitch-text">JARIN CANAR</h1>
                <div class="divider"></div>

                <section>
                    <h3>// BACKGROUND_CHECK</h3>
                    <p>
                        Website developer with background in business and sales. </p><p>
                        Started coding at 14 for my bakery to sell baked goods. </p><p>
                        Currently emplyed at (Knight Motor Co.) </p><p>
                        Always learning more in and out of school</p><p>
                        BYU MARRIOT Information Systems 2027
                    </p>
                </section>

                <section>
                    <h3>// SKILL_TREE</h3>
                    <div class="skill-tags">
                        <span>BUSINESS</span>
                        <span>SALES</span>
                        <span>PYTHON</span>
                        <span>C++</span>
                        <span>JS</span>
                        <span>HTML/CSS</span>
                    </div>
                </section>

                <section>
                    <h3>// CURRENT_OBJECTIVES</h3>
                    <p>> Get a degree in Information Systems at BYU Marriot School</p>
                    <p>> Improving Knight Motor Company and building up their website.</p>
                </section>
            </div>
        </div>

        <footer>
            <p>SYSTEM ID: 9612-JC</p>
        </footer>
    </div>

</body>
</html>
